.loginContainer {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: beige;

    .loginCard {
        width: 400px;

        :global .ant-card-head-title {
            text-align: center;
        }
    }
}